<div class="container mt-4">
  <div class="card">
    <div class="card-header bg-primary text-white">
      <h1>支払方法の編集</h1>
    </div>
    <div class="card-body">
      <%= render 'form', payment_method: @payment_method %>
    </div>
  </div>
</div> 