<div class="container">
  <h1>請求情報編集</h1>

  <%= render 'form', 
      form_mode: :edit,
      submit_button_text: '更新する',
      back_path: invoices_path,
      show_invoice_number: true,
      customer_disabled: true,
      show_detail_button: true %>
</div>