<div class="order-complete">
  <h1>ご注文ありがとうございました</h1>
  <p>ご注文を受け付けました。ご注文の確認メールをお送りしました。</p>
  <p>またのご利用をお待ちしております。</p>

  <%= link_to '商品一覧に戻る', shop_products_path, class: 'btn btn-primary' %>
</div>