<% margin_class = local_assigns.fetch(:margin_class, '') %>
<span class="<%= customer.invoice_delivery_method_badge_class %> <%= margin_class %>"><%= customer.invoice_delivery_method_display %></span>

