<% margin_class = local_assigns.fetch(:margin_class, '') %>
<span class="<%= invoice_delivery_method_badge_class(customer) %> <%= margin_class %>"><%= customer.invoice_delivery_method_display %></span>

