<div class="container mt-5">
  <div class="row">
    <div class="col-md-12 text-center">
      <h1 class="mb-4">Clean Hy App</h1>
      <p class="lead mb-5">ようこそ</p>
      
      <div class="d-flex justify-content-center gap-3">
        <%= link_to "ショップへ", shop_products_path, class: "btn btn-primary btn-lg" %>
        <%= link_to "管理者ログイン", login_path, class: "btn btn-secondary btn-lg" %>
      </div>
    </div>
  </div>
</div>

