<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">CSVファイルからの一括顧客登録</h3>
        </div>

        <div class="card-body">
          <% if flash[:alert] %>
            <div class="alert alert-danger">
              <%= simple_format(flash[:alert]) %>
            </div>
          <% end %>

          <form action="<%= process_csv_customers_path %>" method="post" enctype="multipart/form-data" class="mb-4">
            <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

            <div class="row">
              <div class="col-12 mb-3">
                <div class="form-group">
                  <label for="file" class="form-label">CSVファイル<span class="text-danger">*</span></label>
                  <input type="file" name="file" id="file" class="form-control" required accept=".csv">
                  <small class="text-muted">※CSVファイルはUTF-8エンコーディングで保存されたものをご使用ください</small>
                  <small class="d-block text-muted">※既存の顧客コードが存在する場合、その顧客情報が更新されます</small>
                </div>
              </div>
            </div>

            <div class="d-flex justify-content-between mt-3">
              <div>
                <a href="<%= customers_path %>" class="btn btn-secondary">戻る</a>
              </div>
              <div>
                <button type="submit" class="btn btn-primary">CSVファイルをアップロードして一括登録</button>
              </div>
            </div>
          </form>

          <div class="card mt-4">
            <div class="card-header">
              <h4 class="card-title">CSVファイルのフォーマット</h4>
            </div>
            <div class="card-body">
              <p>CSVファイルは以下のヘッダーを持つ必要があります：</p>
              <div class="table-responsive">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>列名</th>
                      <th>説明</th>
                      <th>必須</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>顧客コード</td>
                      <td>顧客コード（ユニークな値）</td>
                      <td>必須</td>
                    </tr>
                    <tr>
                      <td>顧客名</td>
                      <td>会社名・顧客名</td>
                      <td>必須</td>
                    </tr>
                    <tr>
                      <td>郵便番号</td>
                      <td>郵便番号（例: 123-4567）</td>
                      <td>必須</td>
                    </tr>
                    <tr>
                      <td>住所</td>
                      <td>住所</td>
                      <td>必須</td>
                    </tr>
                    <tr>
                      <td>部署名</td>
                      <td>部署名</td>
                      <td>任意</td>
                    </tr>
                    <tr>
                      <td>担当者名</td>
                      <td>担当者名</td>
                      <td>任意</td>
                    </tr>
                    <tr>
                      <td>電話番号</td>
                      <td>電話番号</td>
                      <td>任意</td>
                    </tr>
                    <tr>
                      <td>FAX番号</td>
                      <td>FAX番号</td>
                      <td>任意</td>
                    </tr>
                    <tr>
                      <td>メールアドレス</td>
                      <td>メールアドレス（電子請求を選択する場合は必須）</td>
                      <td>条件付き必須</td>
                    </tr>
                    <tr>
                      <td>請求書送付方法</td>
                      <td>請求書送付方法（「電子請求」または「郵送」）</td>
                      <td>必須</td>
                    </tr>
                    <tr>
                      <td>請求締日</td>
                      <td>請求締日（「5」「10」「15」「20」「25」「月末」のいずれか）</td>
                      <td>必須</td>
                    </tr>
                  </tbody>
                </table>
              </div>

              <div class="mt-3">
                <h5>サンプルCSV：</h5>
                <pre class="bg-light p-3">顧客コード,顧客名,郵便番号,住所,部署名,担当者名,電話番号,FAX番号,メールアドレス,請求書送付方法,請求締日
C001,株式会社A,123-4567,東京都渋谷区...,営業部,山田太郎,03-1234-5678,03-1234-5679,test@example.com,電子請求,月末
C002,株式会社B,234-5678,大阪府大阪市...,総務部,佐藤花子,06-2345-6789,06-2345-6790,,郵送,15
C003,株式会社C,345-6789,愛知県名古屋市...,,鈴木一郎,052-3456-7890,,,郵送,20</pre>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

