<div class="container">
  <h1>受注情報編集</h1>

  <%= render 'form', order: @order %>

  <div class="mt-3">
    <%= link_to '詳細', @order, class: 'btn btn-info' %>
    <%= link_to '戻る', orders_path, class: 'btn btn-secondary' %>
  </div>
</div> 