<div class="container mt-4">
  <div class="card">
    <div class="card-header">
      <h2>商品規格の新規作成</h2>
    </div>
    <div class="card-body">
      <%= render 'form', product_specification: @product_specification %>
    </div>
  </div>
</div>
