<div class="container mt-4">
  <div class="card">
    <div class="card-header">
      <h2>カテゴリー編集</h2>
    </div>
    <div class="card-body">
      <%= render 'form', product_category: @product_category %>
    </div>
    <div class="card-footer">
      <%= link_to '詳細', @product_category, class: 'btn btn-info' %>
      <%= link_to '戻る', product_categories_path, class: 'btn btn-secondary' %>
    </div>
  </div>
</div>
