<div class="container mt-4">
  <div class="card">
    <div class="card-header bg-primary text-white">
      <h2>新規カテゴリー登録</h2>
    </div>
    <div class="card-body">
      <%= render 'form', product_category: @product_category %>
    </div>
  </div>
</div>
