<div class="container mt-4">
  <div class="card">
    <div class="card-header bg-primary text-white">
      <h2>単位の編集</h2>
    </div>
    <div class="card-body">
      <%= render 'form', unit: @unit %>
    </div>
  </div>
</div>
